body {
  font-family: sans-serif;
}

form {
  display: flex;
  align-items: center;
  height: 36px;
  margin-bottom: 24px;
}

input {
  height: 100%;
  padding: 0 10px;
  border-radius: 8px;
  border: 1px solid black;
  width: 200px;
}

button {
  height: 100%;
  border: none;
  background-color: white;
  cursor: pointer;
}

h2, h1, h3 {
  margin: 4px
}

h1 {
  font-size: 48px;
}

#output {
  display: none;
  width:55%;
}

.left {
  padding: 10px 0;
  padding-right: 20px;
  border-right: 2px solid black;
  width: 45%;
  max-width: 225px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.right {
  padding: 6px 0;
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 8px;
}